@model IEnumerable<Biblioteca.Seleccion>

@{
    ViewData["Title"] = "Index";
}
<h1>Inicio</h1>
@{
    if (ViewBag.TipoMensaje == "Exito")
    {
        <div class="alert alert-success" role="alert">@ViewBag.Mensaje</div>
    }
    else
    {
        <h2>¡Si desea acceder a todas las funcionalidades, le recomendamos registrarse!</h2>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>Seleccion</th>
            <th>Jugadores</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@Html.DisplayFor(modelItem => item.Pais.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.ListaJugadores)</td>
        </tr>
}
    </tbody>
</table>
