
    @{
        ViewData["Title"] = "VistaBuscarPorCorreo";
    }
    <h1>Busqueda de partidos con reseñas</h1>
    <hr />
    <h4>Ingrese correo del periodista</h4>
    <form action="VistaBuscarPorCorreo" method="post">
        <input name="correoBuscar">
        <button type="submit">Mostrar resultados</button>
    </form>
   