@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "BuscarCabanas";
}
<head>
    <script src="~/js/control.js"></script>
</head>
<h1>Busqueda de cabañas</h1>
@ViewBag.Error
<form asp-action="BuscarCabanas" method ="post">
    <label>Seleccione mediante que informacion quiere buscar una cabaña</label>
    <select name="OpcionBuscar" id="Selector">
        <option value="">Seleccione una opcion</option>
        <option value="1">Nombre</option>
        <option value="2">Tipo</option>
        <option value="3">Habilitadas para alquilar</option>
        <option value="4">Capacidad</option>
    </select>

    <div id="SelTipos">
        <label>Por que tipo de cabañas desea buscar?</label>
        <select name="idtipo">
                <option value="">Seleccione una opcion</option>
                @foreach (var item in ViewBag.Lista)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>

    <div id="BusTexto">
        <label>Ingrese la informacion a buscar</label>
        <input name="ValorBusqueda" type="text"></input>
    </div>
    <input type="submit" value="Buscar" class="btn btn-primary" id="btnForm">
    </input>
</form>
