@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @ViewBag.Error
    <h1 class="display-4">Welcome</h1>
    <p>Debe iniciar sesion para acceder a la funcionalidades del sistema.</p>
</div>
